.page-header
  %br
  %br
  %td
    = link_to image_tag('/home.png', :height => 30, :width => 100), root_path
%br
.row
  .col-md-8.col-sm-6
    .container-fluid
      = render partial: 'songs/top_tracks'