%nav.navbar.navbar-default.navbar-fixed-top#page-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: :button, data: { toggle: :collapse, target: '#page-navbar-collapse' }, aria: { expanded: :false }}
        %span.sr-only Toggle navigation
        - 3.times do
          %span.icon-bar
      = link_to('Songshare', root_path, class: 'navbar-brand')

    .collapse.navbar-collapse#page-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            = link_to(destroy_user_session_path, class: :sign_out) do
              Sign Out
              %i.glyphicon.glyphicon-log-out
          - else
            = link_to(user_spotify_omniauth_authorize_path, class: :sign_in) do
              Sign In
              %i.glyphicon.glyphicon-log-in
      - if user_signed_in?
        = render partial: 'shared/search_navbar'

