.page-header
  %br
  %br
  %td
    %center
      = link_to image_tag('/home.png', :height => 30, :width => 100), root_path
    = link_to image_tag('/back.jpg', :height => 50, :width => 65), '/recommendations/received'
.row
  .col-md-4.col-sm-6
    .container-fluid
      = render partial: 'recommendations/all'
