.page-header
  %h1 Welcome, #{current_user.full_name}!
  %td
    = link_to('Back to Home', root_path)      
.row
  .col-md-8.col-sm-6
    .container-fluid
      = render partial: 'recommendations/all'
