.page-header
  %br
  %br
  %td
    %center
      = link_to image_tag('/home.png', :height => 30, :width => 100), root_path
.row
  .col-md-4.col-sm-6
    .container-fluid
      = render partial: 'recommendations/received'
%br
%h4
  = link_to('View sent recommendations', '/sent')
%br
%br
%h4
  = link_to('View all recommendations', '/all')
