.panel.panel-info.top-tracks
  .panel-heading
    %h3 Received Recommendations
  .panel-body
    - if @recommendation.blank?
      %p You have not received any recommendations yet.
    - else
      %ol
        - @recommendation.each do |recommendation|
          %li
            = link_to(recommendation.song, song)
            Sent by #{recommendation.from}
            To #{recommendation.to}
            Liked? #{recommendation.liked}
            %form{ :action => "/recommendations/recommendations", :method => "post" }
            %input{:type => "submit", :value => "Like", :class => "button", value => 1}
            %input{:type => "submit", :value => "Dislike", :class => "button", value => 0}
            
